<div class="quixnav">
    <div class="quixnav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label first">Ana Menü</li>
            <li><a href="/Admin/Dashboard/Index"><i class="icon icon-single-04"></i><span class="nav-text">Ana Sayfa</span></a></li>

            <!--Tanımlar Menüsü-->
            <li class="nav-label">Genel Tanımlar</li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon icon-app-store"></i><span class="nav-text">Branş</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/Admin/Brans/BransList">Branş Listesi</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon icon-app-store"></i><span class="nav-text">Kategori</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/Admin/Kategori/KategoriList">Kategori Listesi</a></li>
                </ul>
            </li>

            <!--Kullanıcı Menüsü-->
            <li class="nav-label">Kullanıcı İşlemleri</li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon icon-world-2"></i><span class="nav-text">Yönetici</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/Admin/Yonetici/YoneticiList">Yönetici Listesi</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon icon-plug"></i><span class="nav-text">Eğitmen</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/Admin/Egitmen/EgitmenList">Eğitmen Listesi</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon icon-plug"></i><span class="nav-text">Öğrenci</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/Admin/Ogrenci/OgrenciList">Öğrenci Listesi</a></li>
                </ul>
            </li>

            <!--Kurs Menüsü-->
            <li class="nav-label">Kurs İşlemleri</li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon icon-world-2"></i><span class="nav-text">Kurslar</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/Admin/Kurs/KursList">Kurs Listesi</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
