@model LmsOnlineProject.Models.Kategoriler
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">Kategori Düzenleme</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm("KategoriGuncelle", "Kategori", "Admin", FormMethod.Post))
                        {
                            <div class="form-group">
                                @Html.HiddenFor(x => x.KategoriId)

                                <label>Kategori Adı</label>
                                @Html.TextBoxFor(x => x.KategoriAd, new { @class = "form-control" })
                            </div>
                            <br />
                            <br />
                            <button class="btn btn-dark" style="margin-right:20px">Güncelle</button>
                            <a href="/Admin/Kategori/KategoriList" class="btn btn-warning">Kategoriler Sayfasına Geri Dön</a>
                        }
                    </div>
                </div>
            </div>
        </div>

